<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rapz</h1>
    <form action="/" method="POST">
        <label for="">Descrição</label>
        <input type="text" name="description">
        <input type="submit">
    </form>
    <a href="/">Voltar</a>
</body>
</html>